@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(lib/fonts/styles.css);

/**
 *  Master Styles
 */

body {
    margin: 0;
    background-color: #f7f7f7;
    color: #333;
}

.content {
    padding: 100px 20px 0px 20px;
}

card {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e9e9e9;
    display: block;
}

column {
    width: 100%;
}

a { color: #0088cc; text-decoration: none; }
a:hover { color: #2a6496; }
a.no-link { color: #444; }

/**
 *  Generic Classes
 */

/* positioning */

.no-margin { margin: 0; }
.pull-left { float: left; }
.pull-right { float: right; }
.vertical-center { vertical-align: middle; }
.text-center { text-align: center; }
.clearfix { overflow: auto; }

.button-icon {
    position: relative;
    top: 6px;
    width: 25px;
}

/* lists */
ul.list-inline {
    display: inline;
}
ul.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* text */

.help-text {
    color: #aaa;
    font-size: 1.3em;
    margin: 15px;
}

/* icons */
i.icon-small { font-size: .9em; }

/* color */
.text-muted { color: #aaa; }

/* cursor and hover */
.pointer:hover { cursor: pointer; }
a.hover > i{ opacity: 0.7; }
a.hover:hover > i{ opacity: 1.0; }


/* kbase sidenav (global piece) */

#kbase-sidenav ul {
    margin-top: 10px;
}

#kbase-sidenav ul > li {
    padding: 10px;
}

#kbase-sidenav ul > li > a {
    width: 100%;
    display: block;
}

/**
 *  NG Material-specific things
 */

 md-progress-circle {
     width: 40px !important;
 }

md-sidenav {
    width: 200px;
}

/* everywhere else */
* {
    font-family: 'Roboto', sans-serif;
}
