
toolbar {
    position: fixed;
    background-color: #fff;
    border-bottom: 5px solid #E0E0E0;
    color: #48B2C3;
    margin: 0px;
    padding: 20px 10px;
    width: 100%;
    z-index: 5000;
}

logo {
    margin: 2px 0 0 15px;
    font-size: 1.3em;
    float: left;
}

logo > .app-name {
    color: #333;
}

nav > .right-side-nav {
    float:right;
    margin: 5px 30px 0 0;
}

