


<breadcrumbs>
    <span *ngFor="let folder of pathList; let i = index">
        <a *ngIf="i < pathList.length-1"
           [routerLink]="['FileTable', {'path': pathList.slice(0,i+1).join('/')}]">
            {{folder}}
        </a>
        {{i == pathList.length-1 ? folder : ''}}
        {{i < pathList.length-1 ? '/' : ''}}
    </span>
</breadcrumbs>


<table [dTable]="files" #table="dataTable" style="width: 100%;" >
    <thead>
        <tr>
            <th>
                <md-checkbox *ngIf="files"
                             [checked]="allChecked"
                             (click)="toggleCheckAll($event)"
                             aria-label="Select all">
                </md-checkbox>
            </th>
            <th>Name</th>
            <th>Size</th>
            <th>Mod Time</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of table.data">
            <td>
                <md-checkbox [checked]="file.checked || allChecked"
                             (change)="toggleItem($event, file)">
                </md-checkbox>
            </td>
            <td>{{file.name}}</td>
            <td>{{readableSize(file.size)}}</td>
            <td>{{relativeTime(file.mtime)}}</td>
            <td>no type found</td>
        </tr>
    </tbody>

    <div *ngIf="table.data && !table.data.length" class="no-files-found text-muted">
        No files found in "{{selectedPath}}"
    </div>

</table>

<md-progress-circle *ngIf="!files" mode="indeterminate"></md-progress-circle>


