
<div class="top-bar clearfix">

    <button md-raised-button
            [routerLink]="['/Selector/FileTable', {path: ''}]"
            color="primary"
            class="back-button pull-left">
            <i class="material-icons button-icon">arrow_backward</i>
            Import New Data
    </button>

    <div class="help-text pull-left">Your Upload Status</div>

</div>


<card>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>File Count</th>
                <th>Started</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meta of metaList">
                <td>{{meta[0]}}</td>
                <td>{{meta[0].split(',').length}}</td>
                <td>{{meta[3]}}</td>
                <td>{{meta[5]}}</td>
            </tr>
        </tbody>
    </table>

    <pre>{{status}}</pre>

    <md-progress-circle *ngIf="!metaList" mode="indeterminate"></md-progress-circle>
</card>