
<div class="top-bar clearfix">

    <button md-raised-button
            [routerLink]="['/Selector/FileTable', {path: ''}]"
            color="primary"
            class="back-button pull-left">
            <i class="material-icons button-icon">arrow_backward</i>
            Import New Data
    </button>

    <div class="help-text pull-left">Your Upload Status</div>
</div>


<card>
    <div class="pull-right">
        <button md-raised-button
            (click)="reload()"
            [disabled]="loading"
            color="primary">

            <i *ngIf="!loading" class="material-icons button-icon">refresh</i>
            <span *ngIf="loading">Loading...</span>
        </button>
   </div>


    <table class="table">
        <thead>
            <tr>
                <th>Bulk Import ID</th>
                <th>File Count</th>
                <th>Submitted</th>
                <th>Status</th>
                <th>Options</
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meta of metaList">
                <td>{{meta[0]}}</td>
                <td>{{meta[0].split(',').length}}</td>
                <td>{{getRelativeTime(meta[3])}}</td>
                <td>
                    <div *ngIf="jobStatusByImportId[meta[0]]">
                        {{jobStatusByImportId[meta[0]].counts | json}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</card>