
.side-nav {
    float: left;
}

.side-nav card {
    width: 21%;
    position: fixed;
}

.quota {
    width: 100%;
}

.import-status {
    height: 50px;
}

.import-status .import-count {
    color: #444;
    font-weight: 800;
}

.view-status {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: .9em;
}

file-tree {
    display: block;
    margin-left: -20px;
}

.file-tree-container {
    margin-top: 65px;
    height: calc(100% - 220px);
    overflow-y: auto;
}

.file-table-container {
    width: 75%;
    float: right;
}

.color-ok {
    color: #34B0D8;
}

.color-success {
    color: #5DAB4C;
}